.profile {
  margin: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 70px;
}

.profile__text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.profile__input-section {
  width: 410px;
  margin: 123px 0 0;
  padding: 0 0 16px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
}

.profile__input-section:last-of-type {
  margin: 17px 0 0;
  padding: 0;
  border: none;
}

.profile__input-text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  height: 14px;
  color: #FFFFFF;
}

.profile__input-info {
  background-color: #202020;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  height: 14px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  text-align: end;
  outline: none;
}

.profile__button-edit {
  text-align: center;
  color: #FFFFFF;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .2s linear;
  margin: 220px 0 0;
  border: none;
  background-color: #202020;
}

.profile__button-edit:hover {
  opacity: .5;
  cursor: pointer;
}

.profile__button-edit:focus {
  opacity: 0.2;
}

.profile__button-exit {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
  transition: opacity .2s linear;
  margin: 16px 0 0;
  background-color: #202020;
  border: none;
}

.profile__button-exit:hover {
  opacity: .5;
  cursor: pointer;
}

.profile__button-exit:focus {
  opacity: 0.2;
}

@media screen and (max-width: 768px) {

  .profile {
    padding: 236px 0 269px;
  }

  .profile__input-section {
    margin-top: 96px;
  }

  .profile__button-edit {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {

  .profile {
    padding: 130px 0 130px;
  }

  .profile__input-section {
    width: 260px;
  }
}

@media screen and (max-width: 320px) {

  .profile {
    padding: 70px 0 40px;
  }

  .profile__input-section {
    margin-top: 80px;
  }

  .profile__button-edit {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-exit {
    font-size: 12px;
    line-height: 15px;
  }
}
