.saved-movie {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 364px;
  position: relative;
  background-color: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.saved-movie__image {
  margin: 0;
  width: 100%;
  max-height: 203px;
  border-radius: 10px 10px 0 0;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.saved-movie__description {
  display: flex;
  justify-content: space-between;
  height: 78px;
  margin: 0;
  cursor: pointer;
}

.saved-movie__info {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 16px;
}

.saved-movie__text {
  margin: 0;
  margin-top: 16px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.saved-movie__duration {
  margin: 17px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
}

.saved-movie__description:hover .saved-movie__stroke {
  display: block;
}

.saved-movie__stroke {
  display: none;
  background: url(../../../images/ydalenie.svg);
  margin: 20px 27px 0 0;
  padding: 0;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  transition: opacity .2s linear;
  background-repeat: no-repeat;
}

.saved-movie__stroke:hover {
  opacity: .5;
  cursor: pointer;
}

.saved-movie__stroke:focus {
  opacity: 0.2;
}

@media screen and (max-width: 850px) {

  .saved-movie {
    max-width: 339px;
    max-height: 262px;
  }

}

@media screen and (max-width: 768px) {

  .saved-movie__info {
    margin-left: 14px;
  }

  .saved-movie__text {
    margin-top: 14px;
  }

  .saved-movie__duration {
    margin-top: 15px;
  }

  .saved-movie__stroke {
    margin-top: 19px;
    margin-right: 25px;
  }

}

@media screen and (max-width: 380px) {

  .saved-movie {
    max-width: 300px;
    max-height: 237px;
  }

  .saved-movie__stroke {
    margin-top: 18.5px;
    margin-right: 21.5px;
  }

  .saved-movie__text {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .saved-movie__duration {
    margin-top: 14px;
    font-size: 10px;
    line-height: 12px;
  }

  .saved-movie__info {
    margin-left: 14px;
  }
}
