.footer {
  background-color: #202020;
  margin: 0;
  padding: 79px 70px 20px;
}

.footer__header {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}

.footer__header-text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__main-left-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__main-right-text {
  align-self: center;
}

.footer__main-right-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 0 0 20px;
  transition: opacity .1s linear;
}

.footer__main-right-link:hover {
  opacity: 0.5;
}

.footer__main-right-link:focus {
  opacity: 0.2;
}

@media screen and (max-width: 768px) {

  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }

}
