.filter-checkbox {
  margin: 0;
  padding: 20px 70px 11px;
  background-color: #202020;
}

.filter-checkbox__info {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-checkbox__case {
  border-bottom: 1px solid #424242;
  padding-bottom: 69px;
}

.filter-checkbox__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.filter-checkbox__checkbox {
  display: none;
}

.filter-checkbox__fake {
  display: inline-block;
  margin: 0 12px 0 0;
  cursor: pointer;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  border: none;
  background-color: #EBEBEB;
  position: relative;
  transition-duration: 300ms;
}

.filter-checkbox__fake::before {
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 18px;
  background: #fff;
  top: 2px;
  left: 2px;
  transition-duration: 300ms;
}

.filter-checkbox__checkbox:checked+.filter-checkbox__fake::before {
  left: 18px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.filter-checkbox__checkbox:checked+.filter-checkbox__fake {
  background: #3DDC84;
}

@media screen and (max-width: 768px) {

  .filter-checkbox {
    padding-left: 30px;
    padding-right: 30px;
  }

  .filter-checkbox__case {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {

  .filter-checkbox {
    padding-left: 14px;
    padding-right: 14px;
  }

  .filter-checkbox__case {
    padding-bottom: 49px;
  }

  .filter-checkbox__text {
    font-size: 11px;
  }
}
