.register {
  margin: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px;
}

.register__form-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.register__logo-container {
  margin: 0 0 0 442px;
  width: 38px;
  height: 38px;
}

.register__logo {
  margin: 0;
  padding: 0;
}

.register__text {
  margin: 40px 0 40px 442px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.register__input-section {
  width: 396px;
  margin: 0 auto 24px;
  padding: 0 0 10px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.register__input-section-red {
  width: 396px;
  margin: 0 auto;
  padding: 0 0 10px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.register__input-text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #8B8B8B;
}

.register__input-info {
  background-color: #202020;
  padding: 0;
  margin: 5px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  color: #FFF;
  text-decoration: none;
  border: none;
  text-align:left;
  outline: none;
}

.register__input-red {
  background-color: #202020;
  padding: 0;
  margin: 5px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  color: #EE3465;
  text-decoration: none;
  border: none;
  text-align:left;
  outline: none;
}

.register__button-edit {
  text-align: center;
  color: #FFFFFF;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .2s linear;
  margin: 0 auto;
}

.register__button-edit:hover {
  opacity: .5;
  cursor: pointer;
}

.register__button-edit:focus {
  opacity: 0.2;
}

.register__button-exit {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
  transition: opacity .2s linear;
  margin: 16px auto 0;
}

.register__button-exit:hover {
  opacity: .5;
  cursor: pointer;
}

.register__button-exit:focus {
  opacity: 0.2;
}

.register__input-error {
  height: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin: 6px 0 0 442px;
}

.register__button-reg {
  background-color: #4285F4;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  color: #FFFFFF;
  border: none;
  margin: 134px auto 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.register__information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register__question {
  margin: 16px 6px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  height: 17px;
}

.register__button-log {
  margin: 16px 0 0;
  color: #4285F4;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  text-decoration: none;
}

@media screen and (max-width: 1150px) {

  .register__logo-container {
    margin-left: 360px;
  }

  .register__text {
    margin-left: 360px;
  }

  .register__input-error {
    margin-left: 360px;
  }
}

@media screen and (max-width: 768px) {

  .register {
    padding: 232px 0;
  }

  .register__logo-container {
    margin-left: 186px;
  }

  .register__text {
    margin-left: 186px;
  }

  .register__input-error {
    margin-left: 186px;
  }
}

@media screen and (max-width: 500px) {

  .register {
    padding: 56px 0 30px;
  }

  .register__logo-container {
    margin-left: 86px;
  }

  .register__text {
    margin-left: 86px;
  }

  .register__input-error {
    margin-left: 86px;
  }

  .register__input-section {
    width: 260px;
  }

  .register__input-section-red {
    width: 260px;
  }

  .register__button-reg {
    width: 260px;
    height: 45px;
    margin-top: 122px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 320px) {

  .register__logo-container {
    margin: 0;
    align-self: center;
  }

  .register__text {
    margin: 50px 0 80px;
    align-self: center;
  }

  .register__input-error {
    margin-left: 30px;
  }

  .register__question {
    margin: 14px 7px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .register__button-log {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}
